<% if current_user %>
  <span class='grid'>
  <%= render partial: "navbar" %>
    <% @followers.each do |follower| %>
      <section class="follow_card">
        <div>
          <%= image_tag follower.avatar_url, class: "s_avatar" %>
        </div>
        <div class="follow_data">
          <span class='name_data'>
            <p class='follower_name'><%= follower.name %></p>
            <p><%= follower.login %></p>
          </span>
          <p class='bio'><%= follower.bio %></p>
          <span class='contact_data'>
            <p><%= follower.location %></p>
            <p><%= follower.company %></p>
          </span>
        </div>
      </section>
    <% end %>
  </span>
<% else %>
  <p>Log in to show data</p>
<% end %>