<% if current_user %>
  <section>
    <% @followers.each do |follower| %>
      <ul class: "thumbnail"><%= image_tag follower.avatar_url %></ul>
      <ul><%= follower.name %></ul>
      <ul><%= follower.login %></ul>
      <ul><%= follower.bio %></ul>
      <ul><%= follower.company %></ul>
      <ul><%= follower.location %></ul>
    <% end %>
  </section>
<% else %>
  <p>Log in to show data</p>
<% end %>