<div class="sidebar">
  <% if current_user %>
    <%= image_tag @github_user.avatar_url, class: "avatar" %>
    <div class="card">
      <h1 class="name"><%= @github_user.name %></h1>
      <p class="login"><%= @github_user.login %></p>
    </div>
    <p class="bio"><%= @github_user.bio %></p>
    <div class="card">
      <p class="company"><%= @github_user.company %></p>
      <p class="location"><%= @github_user.location %></p>
      <p class="email"><%= current_user.email %></p>
      <p class="blog"><%= @github_user.blog %></p>
    </div>
    <% if @orgs %>
      <div class="card">
        <h2>Organizations</h2>
        <% @orgs.each do |organization| %>
          <%= image_tag organization.avatar_url, class: "xs_avatar" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>Log in to show data</p>
  <% end %>
</div>