<!DOCTYPE html>
<html>
  <head>
    <title>ApicuriousGithub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "layouts/sidebar" %>
  <body>
    <%= yield %>
  </body>
</html>
